<h4>Listados</h4>
<ul class="list-group">
  <li
    *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark':isLast,
      'list-group-item-primary':isEven,
    }"
  >
    <div>
      <span class="text-primary">{{ i + 1 }}.</span>
      {{ character.name }} - <strong>power: </strong> {{ character.power }}
    </div>
    <button (click)="onDeleteCharacter(i)" class="btn btn-danger">X</button>
  </li>
</ul>

<!-- INDEX + 1 SE USA PARA EMPEZAR A CONTAR EL INDICE DESDE EL 1 -->
